.credit-card {
    width: 100%;
    height: 160px;
    background-image: url('../../../public/active-tariff.webp');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
    transition: transform 0.1s ease-out;
    perspective: 2500px;
    transform-style: preserve-3d;
}

.card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;

    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.1s ease-out;
}

.credit-card::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: inherit;
    z-index: -1;
}

.credit-card:hover .card-content {
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX));
    transition: box-shadow 0.5s ease;
}

.card-thickness {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    background-image: url('../../../public/active-tariff.webp');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.7);
    border-radius: inherit;
    transform: translateZ(-10px);
}
