.fade {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.fade-in {
	animation: fadeIn 1s forwards;
}

.fade-out {
	animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
