@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* dynamic */
		--background-1: white;
		--background-2: #f5f5f5;
		--background-3: #f9f9f9;
		--background-4: #f0f0f0;
		--background-5: #323232;
		--background-6: white;

		--foreground-1: #1c1c1c;
		--foreground-2: #555555;
		--foreground-3: #777777;

		--gray: #53555d;
		--shade-gray: #b3b3b3;
		--light-gray: #e6e6e6;
		--placeholder: #666666e5;
		--input-bg: #e8e8e8;
		--success: #16a34a;

		--gradient: linear-gradient(to bottom, #f5f5f5, #f5f5f5, #f5f5f5);

		--orange: #f97316;
		--yellow: #f4a900;
		--error: #d20035;

		--font-sm: 0.875rem;
		--font-base: 1rem;
		--font-lg: 1.125rem;

		--radius-base: 0.125rem;
		--radius-md: 0.375rem;
		--radius-lg: 0.5rem;
		--radius-xl: 0.75rem;
		--radius-2xl: 1rem;

		--chat-my: #d9fdd3;
		--chat-incoming: white;
	}

	.dark {
		/* dynamic */
		--background-1: #1c1c1c;

		--background-2: #222222;
		--background-3: #4a4a4a;
		--background-4: #202124;
		--background-5: #202124;
		--background-6: #1c1c1c;

		--foreground-1: white;
		--foreground-2: #b3b3b3;
		--foreground-3: #999999;
		--success: #22c55e;

		--yellow: #cb8e00;
		--error: #e34242;
		--orange: #c2410c;

		--gradient: linear-gradient(to bottom, #0f0f11, #1a1b1e, #111112);

		--gray: #a0a0a0;
		--shade-gray: #707070;
		--light-gray: #3a3a3a;
		--placeholder: #888888e5;
		--input-bg: #1f1f1f;

		--chat-my: #144d37;
		--chat-incoming: #242626;

		.leaflet-layer,
		.leaflet-control-zoom-in,
		.leaflet-control-zoom-out,
		.leaflet-control-attribution {
			filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
		}

		.leaflet-container {
			background-color: var(--background-1);
		}
	}
}

html.rounded-none {
	--radius-base: 0rem;
	--radius-md: 0rem;
	--radius-lg: 0rem;
	--radius-xl: 0rem;
	--radius-2xl: 0rem;
}

html.rounded-medium {
	--radius-base: 0.125rem;
	--radius-md: 0.375rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;
	--radius-2xl: 1rem;
}

html.rounded-large {
	--radius-base: 1rem;
	--radius-md: 1.25rem;
	--radius-lg: 1.5rem;
	--radius-xl: 2rem;
	--radius-2xl: 2.5rem;
}

html.font-size-small {
	--font-sm: 0.75rem;
	--font-base: 0.875rem;
	--font-lg: 1rem;
}

html.font-size-medium {
	--font-sm: 0.875rem;
	--font-base: 1rem;
	--font-lg: 1.125rem;
}

html.font-size-large {
	--font-sm: 1rem;
	--font-base: 1.125rem;
	--font-lg: 1.25rem;
}

body {
	font-family: var(--font-manrope), sans-serif;
	background-image: var(--gradient);
}

input,
textarea {
	font-family: var(--font-roboto), sans-serif;
	font-weight: 500;
}

input::placeholder {
	font-family: var(--font-roboto), sans-serif;
	font-weight: 500;
}

textarea::placeholder {
	font-family: var(--font-roboto), sans-serif;
}

html {
	max-width: 1920px;
	margin-inline: auto;
	will-change: background-color, color;

	overscroll-behavior-y: none;
	overscroll-behavior-x: none;
	overflow-y: auto;
	background-color: var(--background-6);
}

* {
	::-webkit-scrollbar {
		width: 6px;
	}

	::-webkit-scrollbar-track {
		background: var(--background-1);
		border-radius: 6px;
	}

	::-webkit-scrollbar-thumb {
		background-color: #747474;
		border-radius: 6px;
		border: 2px solid #f0f0f0;
	}

	scrollbar-width: thin;
	scrollbar-color: #747474 var(--background-1);
}

.numeric {
	font-variant-numeric: lining-nums proportional-nums;
}

.full-height {
	min-height: calc(100vh - 88px);
}

.full-height-max {
	max-height: calc(100vh - 88px);
	min-height: calc(100vh - 88px);
	overflow-y: scroll;
}

/* Leaflet */
.leaflet-control-attribution {
	display: none;
}

.custom-marker-icon .custom-marker-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	font-size: 24px;
	color: #ff0000;
	transition: transform 0.2s ease;
}

.custom-marker-icon .custom-marker-inner:hover {
	transform: scale(1.4);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background-color: var(--background-1) !important;
}

.links-underlined a {
	text-decoration: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

:root:has(.no-doc-scroll) {
	overflow: hidden;
}

html,
body {
	touch-action: manipulation;
}

input[type="time"] {
	position: relative;
}

input[type="time"]::-webkit-calendar-picker-indicator {
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	filter: invert(50%);
	margin: 0;
	padding: 0;
}

input[type="time"]::-webkit-calendar-picker-indicator:hover {
	filter: brightness(100%);
}
