@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* dynamic */
        --background-1: white;
        --background-2: #f5f5f5;
        --background-3: #f9f9f9;

        --foreground-1: #1c1c1c;
        --foreground-2: #555555;
        --foreground-3: #777777;

        --gray: #53555d;
        --shade-gray: #b3b3b3;
        --light-gray: #e6e6e6;
        --placeholder: #666666e5;
        --input-bg: #f0f0f0;

        /* static */
        --darkBlue: #2c3258;
        --yellow: #f4a900;
        --error: #d20035;
    }

    .dark {
        /* dynamic */
        --background-1: #202124;
        --background-2: #2c2c2c;
        --background-3: #4a4a4a;

        --foreground-1: white;
        --foreground-2: #b3b3b3;
        --foreground-3: #999999;

        --gray: #a0a0a0;
        --shade-gray: #707070;
        --light-gray: #3a3a3a;
        --placeholder: #888888e5;
        --input-bg: #1f1f1f;
    }
}

body {
    font-family: var(--font-raleway), sans-serif;
}

html {
    max-width: 1920px;
    margin-inline: auto;
    will-change: background-color, color;
}

.numeric {
    font-variant-numeric: lining-nums proportional-nums;
}
