/* Глобальные настройки анимации */
.translate-in,
.translate-out {
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    will-change: transform, opacity;
}

/* Анимации для разных направлений */
@keyframes slideInFromLeft {
    0% {
        opacity: 0.01;
        transform: translate3d(var(--distance), 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutToLeft {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0.01;
        transform: translate3d(var(--distance), 0, 0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0.01;
        transform: translate3d(calc(-1 * var(--distance)), 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutToRight {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0.01;
        transform: translate3d(calc(-1 * var(--distance)), 0, 0);
    }
}

@keyframes slideInFromTop {
    0% {
        opacity: 0.01;
        transform: translate3d(0, calc(-1 * var(--distance)), 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutToTop {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0.01;
        transform: translate3d(0, calc(-1 * var(--distance)), 0);
    }
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0.01;
        transform: translate3d(0, var(--distance), 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutToBottom {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0.01;
        transform: translate3d(0, var(--distance), 0);
    }
}

/* Обработчики для направления */
.translate-in.direction-left {
    animation-name: slideInFromLeft;
}

.translate-out.direction-left {
    animation-name: slideOutToLeft;
}

.translate-in.direction-right {
    animation-name: slideInFromRight;
}

.translate-out.direction-right {
    animation-name: slideOutToRight;
}

.translate-in.direction-up {
    animation-name: slideInFromBottom;
}

.translate-out.direction-up {
    animation-name: slideOutToTop;
}

.translate-in.direction-down {
    animation-name: slideInFromTop;
}

.translate-out.direction-down {
    animation-name: slideOutToBottom;
}
